@import url("/assets/css/common.css");
section {
  border-bottom: dashed 1px var(--white-01);
}

.section01 {
  padding: 70px 0 100px 0;
}
.section01 .title {
  text-align: center;
}
.section01 .title h1 {
  font-size: 72px;
  font-weight: 500;
}
.section01 .title p {
  font-size: var(--font-p);
}

.section02 {
  background: var(--black-01);
  padding: var(--padding-sec);
}
.section02 .skills {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin: 40px 0;
}
.section02 .skills a.img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.section02 .skills a.img img {
  display: block;
  width: 100px;
  transition: transform 0.3s ease;
}
.section02 .skills a.img:hover img, .section02 .skills a.img:focus img {
  transform: scale(1.2);
  z-index: 2;
}
.section02 .skills a.img:hover .tooltip-text, .section02 .skills a.img:focus .tooltip-text {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  color: var(--white-01);
}
.section02 .skills a.img .tooltip-text {
  margin-top: 20px;
  font-size: 16px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  user-select: none;
}
.section02 h2 {
  font-size: var(--font-h2);
  text-align: center;
  color: white;
  margin-bottom: 80px;
}
.section02 h2 a {
  font-size: 30px;
}
.section02 .d-grid {
  grid-template-columns: repeat(4, 1fr);
}
.section02 .d-grid .work-list {
  text-align: center;
  color: var(--white-01);
}
.section02 .d-grid .work-list h3 {
  font-size: var(--font-h3);
  margin-bottom: 20px;
}
.section02 .d-grid .work-list img {
  height: 800px;
  object-fit: cover;
  object-position: top;
}
.section02 .dec {
  padding: 40px 0;
}
.section02 .dec .skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  margin: 40px 0;
  align-items: center;
}
.section02 .dec .skills a.img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.section02 .dec .skills a.img img {
  display: block;
  width: 100px;
  transition: transform 0.3s ease;
}
.section02 .dec .skills a.img:hover img, .section02 .dec .skills a.img:focus img {
  transform: scale(1.2);
  z-index: 2;
}
.section02 .dec .skills a.img:hover .tooltip-text, .section02 .dec .skills a.img:focus .tooltip-text {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  color: var(--white-01);
}
.section02 .dec .skills a.img .tooltip-text {
  margin-top: 20px;
  font-size: 16px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  user-select: none;
}
.section02 .text-wrap {
  text-align: center;
  color: var(--white-01);
}
.section02 .text-wrap .text {
  margin-bottom: 40px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
.section02 .text-wrap .text:last-child {
  margin-bottom: 0;
}
.section02 .text-wrap .text:hover {
  transform: scale(1.05);
  border-radius: 8px;
}
.section02 .text-wrap .text .title h3 {
  font-size: var(--font-h3);
}
.section02 .text-wrap .text .title_dec p {
  font-size: var(--font-p);
  color: var(--grey-01);
  font-weight: 400;
}

.section03 {
  background: var(--black-01);
  padding: var(--padding-sec);
}
.section03 h2 {
  font-size: var(--font-h2);
  text-align: center;
  color: white;
  margin-bottom: 80px;
}
.section03 h2 a {
  font-size: 30px;
}
.section03 .d-grid {
  grid-template-columns: repeat(4, 1fr);
}
.section03 .d-grid .work-list {
  text-align: center;
  color: var(--white-01);
}
.section03 .d-grid .work-list h3 {
  font-size: var(--font-h3);
  margin-bottom: 20px;
}
.section03 .d-grid .work-list img {
  height: 800px;
  object-fit: cover;
  object-position: top;
}
.section03 .dec {
  padding: 40px 0;
}
.section03 .text-wrap {
  text-align: center;
  color: var(--white-01);
}
.section03 .text-wrap .text {
  margin-bottom: 40px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
.section03 .text-wrap .text:last-child {
  margin-bottom: 0;
}
.section03 .text-wrap .text:hover {
  transform: scale(1.05);
  border-radius: 8px;
}
.section03 .text-wrap .text .title h3 {
  font-size: var(--font-h3);
}
.section03 .text-wrap .text .title_dec p {
  font-size: var(--font-p);
  color: var(--grey-01);
  font-weight: 400;
}

.section04 {
  background: var(--black-01);
  padding: var(--padding-sec);
}
.section04 h2 {
  font-size: var(--font-h2);
  text-align: center;
  color: white;
  margin-bottom: 80px;
}
.section04 h2 a {
  font-size: 30px;
}
.section04 .d-grid {
  grid-template-columns: repeat(4, 1fr);
}
.section04 .d-grid .work-list {
  text-align: center;
  color: var(--white-01);
}
.section04 .d-grid .work-list h3 {
  font-size: var(--font-h3);
  margin-bottom: 20px;
}
.section04 .d-grid .work-list img {
  height: 800px;
  object-fit: cover;
  object-position: top;
}
.section04 .dec {
  padding: 40px 0;
}
.section04 .text-wrap {
  text-align: center;
  color: var(--white-01);
}
.section04 .text-wrap .text {
  margin-bottom: 40px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
.section04 .text-wrap .text:last-child {
  margin-bottom: 0;
}
.section04 .text-wrap .text:hover {
  transform: scale(1.05);
  border-radius: 8px;
}
.section04 .text-wrap .text .title h3 {
  font-size: var(--font-h3);
}
.section04 .text-wrap .text .title_dec p {
  font-size: var(--font-p);
  color: var(--grey-01);
  font-weight: 400;
}

.section05 {
  background: var(--black-01);
  padding: var(--padding-sec);
}
.section05 h2 {
  font-size: var(--font-h2);
  text-align: center;
  color: white;
  margin-bottom: 80px;
}
.section05 h2 a {
  font-size: 30px;
}
.section05 .d-flex .work-list {
  width: 50%;
  text-align: center;
  color: var(--white-01);
}
.section05 .d-flex .work-list h3 {
  font-size: var(--font-h3);
  margin-bottom: 20px;
}
.section05 .d-flex .work-list img {
  height: 1200px;
  object-fit: cover;
  object-position: top;
}
.section05 .dec {
  width: 50%;
  padding: 40px 0;
}
.section05 .text-wrap {
  text-align: left;
  color: var(--white-01);
}
.section05 .text-wrap .text {
  margin-bottom: 40px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
.section05 .text-wrap .text:last-child {
  margin-bottom: 0;
}
.section05 .text-wrap .text:hover {
  transform: scale(1.05);
  border-radius: 8px;
}
.section05 .text-wrap .text .title h3 {
  font-size: var(--font-h3);
}
.section05 .text-wrap .text .title_dec p {
  font-size: var(--font-p);
  color: var(--grey-01);
  font-weight: 400;
}

.section06 {
  background: var(--black-01);
  padding: var(--padding-sec);
}
.section06 h2 {
  font-size: var(--font-h2);
  text-align: center;
  color: white;
  margin-bottom: 80px;
}
.section06 h2 a {
  font-size: 30px;
}
.section06 .d-flex .work-list {
  width: 50%;
  text-align: center;
  color: var(--white-01);
}
.section06 .d-flex .work-list h3 {
  font-size: var(--font-h3);
  margin-bottom: 20px;
}
.section06 .d-flex .work-list img {
  height: 1200px;
  object-fit: cover;
  object-position: top;
}
.section06 .dec {
  width: 50%;
  padding: 40px 0;
}
.section06 .text-wrap {
  text-align: left;
  color: var(--white-01);
}
.section06 .text-wrap .text {
  margin-bottom: 40px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
.section06 .text-wrap .text:last-child {
  margin-bottom: 0;
}
.section06 .text-wrap .text:hover {
  transform: scale(1.05);
  border-radius: 8px;
}
.section06 .text-wrap .text .title h3 {
  font-size: var(--font-h3);
}
.section06 .text-wrap .text .title_dec p {
  font-size: var(--font-p);
  color: var(--grey-01);
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */